[submodule ".registry"]
	path = .registry
	url = https://github.com/venkatasivanaga/venkatasivanaga.r-universe.dev
	branch = HEAD
[submodule "vegseg"]
	path = vegseg
	url = https://github.com/venkatasivanaga/Trees_seg
