[submodule ".registry"]
	path = .registry
	url = https://github.com/venkatasivanaga/venkatasivanaga.r-universe.dev
	branch = HEAD
[submodule "FuelsDeep3D"]
	path = FuelsDeep3D
	url = https://github.com/venkatasivanaga/FuelsDeep3D
